.home-container {
    padding: 20px;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    border-radius: 12px;
    margin-top: 50px;
  }
      
  h1{
    color: white;
  }